@page "/"
@inject NavigationManager NavigationManager

<h1>Chronicle</h1>

<AuthorizeView>
    <Authorized Context="Auth">
        <EditForm EditContext="@Context" OnValidSubmit="@GoToPage">
            <p>
                <label>
                    Page Title:
                    <InputText @bind-Value="Title" />
                </label>
            </p>

            <button type="submit">GO</button>
        </EditForm>
    </Authorized>

    <NotAuthorized>
        <p>
            Please log in.
        </p>
    </NotAuthorized>
</AuthorizeView>

@code {
    public string Title { get; set; }
    public EditContext Context { get; set; }

    protected override void OnInitialized()
    {
        Context = new EditContext(new object());
    }

    public void GoToPage()
    {
        NavigationManager.NavigateTo($"/pages/{Title}");
    }
}