@page "/"
@inject IPageStore PageStore

<SetTitle Value="Chronicle" />

<AuthorizeView>
    <Authorized Context="Auth">
        <h1>Chronicle</h1><hr />

        <WikiPageNavigator ShowIndex="false" />

        <div style="display:flex; flex-flow:row wrap;">
            @foreach (var storedPage in PageStore.Pages.OrderBy(p => p.Title))
            {
                <div style="width:150px; margin-right:20px; margin-top:20px;">
                    <a href="/pages/@storedPage.Title">@storedPage.Title</a>
                </div>
            }
        </div>
    </Authorized>

    <NotAuthorized>
        <h1>Chronicle</h1>

        <p>
            Please log in.
        </p>
    </NotAuthorized>
</AuthorizeView>
