@page "/"
@inject IPageStore PageStore

<AuthorizeView>
    <Authorized Context="Auth">
        <WikiPageNavigator ShowIndex="false" />

        <h1>Chronicle</h1>

        <p>
            @foreach (var storedPage in PageStore.Pages.OrderBy(p => p.Title))
            {
                <a href="/pages/@storedPage.Title">@storedPage.Title</a><br />
            }
        </p>
    </Authorized>

    <NotAuthorized>
        <h1>Chronicle</h1>

        <p>
            Please log in.
        </p>
    </NotAuthorized>
</AuthorizeView>
