@inject NavigationManager NavigationManager
 
<EditForm EditContext="@Context" OnValidSubmit="@GoToPage">
    <a href="/create">New Page</a> |
    @if (ShowIndex)
    {
        <a href="/">Index</a> @:|
    }
    <label>
        Page Title:
        <InputText @bind-Value="Title" />
        <button type="submit">GO</button>
    </label>
</EditForm>

@code {
    [Parameter]
    public bool ShowIndex { get; set; } = true;

    public EditContext Context { get; set; }
    public string Title { get; set; }

    protected override void OnInitialized()
    {
        Context = new EditContext(new object());
    }

    public void GoToPage()
    {
        NavigationManager.NavigateTo($"/pages/{Title}");
    }
}
